ANTHROPIC_API_KEY=op://Private/anthropic/credential
VOYAGEAI_API_KEY=op://Private/voyageai/credential
DEEPGRAM_API_KEY=op://Private/deepgram/credential
CARTESIA_API_KEY=op://Private/cartesia/credential
DAILY_API_KEY=op://Private/daily/credential
